@charset "UTF-8";
/* Navbar: */
/* Corner Radii */
/* Padding screen edge to page content */
/* !!!DEV-UTILITY Margin of wide content */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Baloo Tammudu 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  line-height: 2;
}

p {
  font-size: 1.4rem;
  line-height: 3rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  word-spacing: 0.1rem;
  word-wrap: normal;
}

subtitle {
  font-size: 2.8rem;
  margin-top: 1.6rem;
  font-weight: 300;
  line-height: 1;
  font-style: italic;
  word-wrap: break-word;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.9;
  line-height: 1;
  word-wrap: normal;
}

h3 {
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.5px;
  word-wrap: normal;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  word-wrap: normal;
}

h5 {
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}

blockquote {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 0 1rem;
}

a {
  font-size: 1.54rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  text-decoration: none;
  color: inherit;
}

.bannerMedium {
  margin: 12rem 0;
  margin-left: -12vw;
  margin-right: -12vw;
  padding: 1.6rem;
  height: fit-content;
}
.bannerMediumContainer {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 12vw;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 4vw;
}
.bannerMedium__header {
  display: initial;
  position: relative;
}
.bannerMedium__badge {
  background-color: #1435a1;
  padding: 0.8rem 2rem 0.6rem;
  border-radius: 100px;
  color: #fff;
  position: absolute;
  top: -4.8rem;
  left: -3.6rem;
}
.bannerMedium__spacer {
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-left: 0.8rem solid #115eb6;
  margin-left: -2rem;
  align-self: center;
}
.bannerMedium__copy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bannerMedium__paragraph {
  font-size: 1.54rem;
  max-width: 80ch;
}
.bannerMedium__button {
  background-color: #006eff;
  color: #fff;
}

.bannerRates {
  margin: 4rem;
  margin-left: -12vw;
  margin-right: -12vw;
}
.bannerRatesContainer {
  padding: 0;
}
.bannerRates__layerTop {
  background-color: #115eb6;
  padding: 2rem;
  padding-right: 12vw;
  padding-left: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerRates__copy {
  color: #fff;
}
.bannerRates__layerBottom {
  background-color: #115eb6;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  box-shadow: inset 0rem 0.8rem 2rem rgba(0, 0, 0, 0.2);
  padding-left: 12vw;
  padding-right: 12vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 4vw;
}

.ratesCardContainer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  min-width: 32rem;
  width: 24vw;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 0.4rem;
  transition: all 0.5s;
}
.ratesCardContainer:hover {
  background-color: #115eb6;
  transform: translateY(-2rem);
  box-shadow: 0 2rem 2rem -0.8rem black;
}
.ratesCardContainer:hover .ratesCard__button {
  position: relative;
  height: 12rem;
  margin-bottom: 0;
  margin-top: -2.4rem;
  transition: all 0.5s 0.2s;
  font-size: 1.6rem;
}
.ratesCardContainer:hover .ratesCard__img {
  opacity: 0.2;
  height: 44rem;
  margin-top: -8rem;
  margin-bottom: -20rem;
}
.ratesCardContainer:hover .ratesCard__description {
  color: #fff;
  transform: translateY(-12rem);
}
.ratesCardContainer:hover .ratesCard__header h3 {
  color: #fff;
}
.ratesCardContainer:hover .ratesCard__figures {
  transform: translateY(-10rem);
  color: #fff;
}
.ratesCardContainer:hover .ratesCard__figure--icon {
  transform: scale(1.32);
  color: #fff;
}
.ratesCardContainer__figure--icon {
  transform: scale(1.32);
  color: #fff;
}
.ratesCard__header h3 {
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  margin-top: 1.6rem;
  color: #115eb6;
  border: #a1cdff;
  text-align: center;
}
.ratesCard__img {
  transition: all 0.6s;
  object-fit: cover;
  background-color: #333;
  height: 16rem;
  width: 100%;
}
.ratesCard__description {
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 500;
  margin: 2rem 1.2vw;
  transform: translateY(0);
  transition: all 0.5s;
  padding: 0 0.8rem;
  text-align: left;
}
.ratesCard__figures {
  /* ALL FIGURES */
  height: 6rem;
  margin: 0 1.2vw;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2vw;
  transition: all 0.5s 0.1s;
  transform: translateY(0);
}
.ratesCard__figure {
  /* SINGLE FIGURE */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ratesCard__figure--icon {
  font-size: 2rem;
}
.ratesCard__figure--text {
  text-align: center;
}
.ratesCard__button {
  background-color: #0abe40;
  color: #fff;
  margin: 1.8rem;
  width: 100%;
  height: 6rem;
  transform: translateY(0);
}
.ratesCard__button:hover {
  background-color: #1ea382;
}
.ratesCard__button:hover .button__text {
  transform: translateY(-0.2rem);
}

.button {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  word-spacing: 0.4rem;
  cursor: pointer;
  border: solid 4px transparent;
  border-radius: 0.3rem;
  border-end-end-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s;
}
.button:hover {
  transform: translateY(1px);
  filter: brightness(1.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.button:active {
  position: relative;
  bottom: -0.1rem;
  filter: brightness(0.9);
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.3);
}
.button--small:hover {
  bottom: 0.05rem;
  filter: none;
  box-shadow: none;
}

.comments {
  margin: 0;
  margin-top: 24rem;
  margin-left: -12vw;
  margin-right: -12vw;
  background: linear-gradient(rgba(20, 53, 161, 0.7), rgba(20, 53, 161, 0.7)), url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-origin: border-box;
  background-position: bottom left;
  background-position-x: center;
  background-repeat: no-repeat;
}
.commentsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 12vw;
}
.comments__header {
  color: #fff;
}
.comments__form button {
  width: 100%;
  color: #fff;
  background-color: #006eff;
}

.headliner {
  margin: 24rem auto;
  color: #1435a1;
  background-color: transparent;
  vertical-align: center;
  max-width: 66vw;
}
.headlinerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4vw;
}
.headliner__icon img {
  width: 4.8vw;
  height: auto;
}
.headliner__icon svg {
  font-size: 4vw;
}
.headliner__text--center {
  text-align: center;
}

.pageHeader {
  margin: 0;
  margin-left: -12vw;
  margin-right: -12vw;
  background-size: auto;
  margin-bottom: 12rem;
}
.pageHeader__banner {
  height: 8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 8rem 12vw;
}
.pageHeader__title {
  color: #fff;
  text-transform: capitalize;
  text-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  margin-bottom: -2rem;
}
.pageHeader__navigation {
  background-color: white;
  padding: 2rem 12vw;
  box-shadow: 0 0.1rem 0.6rem -0.4rem rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1.2rem;
}
.pageHeader__link {
  font-weight: 500;
  font-size: 1.4rem;
  height: 2rem;
  border-bottom: 0.4px solid transparent;
}
.pageHeader__link:hover {
  color: #115eb6;
}
.pageHeader__link:not(:last-child)::after {
  content: " ";
  margin: 1.2rem;
  border: none;
}

.bannerSignup {
  margin: 8rem;
  margin-left: -12vw;
  margin-right: -12vw;
  background-color: #115eb6;
  background: linear-gradient(90deg, #158181, rgba(30, 163, 130, 0.5));
  color: #333;
  overflow: hidden;
}
.bannerSignupContainer {
  z-index: 10;
  padding: 8rem 12vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bannerSignup__leftSide {
  z-index: 10;
  max-width: 90ch;
}
.bannerSignup__largeHeader {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.bannerSignup__largeHeader::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.4rem;
  background-color: #158181;
}
.bannerSignup__paragraph {
  font-size: 2.4rem;
}
.bannerSignup__form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.bannerSignup__smallHeader {
  align-self: flex-start;
  margin-bottom: -2rem;
  font-size: 2.4rem;
}
.bannerSignup__button {
  margin-top: 1.2rem;
  background-color: #006eff;
  width: 94%;
  color: #fff;
}
.bannerSignup__buttonDescription {
  margin-left: auto;
  width: fit-content;
}
.bannerSignup__summary {
  list-style-type: disc;
  list-style-position: inside;
}
.bannerSignup__summary--item {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  font-style: italic;
}
.bannerSignup__figure {
  z-index: 1;
  position: absolute;
  right: 24vw;
  opacity: 0.3;
  height: 32rem;
  width: 32rem;
}

.testimonialQuote {
  margin: 4rem auto;
  width: fit-content;
}
.testimonialQuoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonialQuote__profileImg {
  height: 12rem;
  width: 12rem;
  border-radius: 100rem;
  margin-bottom: 1.92rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}
.testimonialQuote__text {
  text-align: center;
  min-width: 90ch;
  width: 12.4vw;
  max-width: 124ch;
  margin-bottom: 0.8rem;
}
.testimonialQuote__source h5 {
  width: 100%;
}
.testimonialQuote__source h5::before {
  content: "—";
}

.containerHalf {
  margin: 4rem;
  margin-left: -12vw;
  margin-right: -12vw;
  padding: 0 12vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vw;
}
.containerHalf img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
}
.containerHalf svg {
  font-size: 12vw;
  color: #1435a1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.containerHalf__sideLeft {
  width: 50%;
}
.containerHalf__sideRight {
  width: 50%;
}

.containerThird {
  margin: 4rem;
  margin-left: -12vw;
  margin-right: -12vw;
  padding: 0 12vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.containerThird svg {
  font-size: 8vw;
  color: #1435a1;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.containerThird__sideLeft {
  width: 66vw;
}
.containerThird__sideLeft img {
  width: 10rem;
  height: auto;
}
.containerThird__sideRight {
  min-width: 24rem;
  width: 33vw;
  max-width: 36rem;
}
.containerThird__sideRight img {
  border-radius: 0.3rem;
  width: 100%;
  height: auto;
}

.footer {
  margin: 0;
  margin-left: -12vw;
  margin-right: -12vw;
  background-color: #fff;
  margin-top: 12rem;
  /* TOP LAYER */
  /* MAIN FOOTER */
}
.footerContainer {
  padding-bottom: 12rem;
}
.footer__layerTop {
  min-height: 3rem;
  height: 4.8vw;
  max-height: 6rem;
  background-color: #115eb6;
  color: #fff;
  padding: 0 0.8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__socials {
  display: flex;
  align-content: flex-end;
  gap: 1rem;
}
.footer__socials--logo {
  font-size: 1.8rem;
}
.footer__socials--logo:hover {
  color: #006eff;
}
.footer__contactUs {
  display: flex;
  align-items: center;
  gap: 0;
}
.footer__contactUs h4 {
  font-weight: 400;
}
.footer__contactUs i {
  font-size: 1.2rem;
}
.footer__main {
  display: flex;
  padding: 2vw;
  height: 14rem;
}
.footer__navigation {
  display: flex;
  justify-content: space-around;
  gap: 12vw;
}
.footer__brandLogo {
  min-width: 16rem;
  width: 22vw;
  max-width: 24rem;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.footer__logoSubline {
  font-size: 1.2rem;
  opacity: 0.6;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
}
.footer__listHeader h4 {
  margin-bottom: 0.4rem;
  opacity: 0.6;
}
.footer__link {
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__link:hover {
  color: #006eff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4rem;
  min-width: 32rem;
  width: 24vw;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  height: 2.4rem;
  margin-bottom: 0.8rem;
}
input:focus {
  border: none;
  border: solid 0.3rem #006eff;
  height: 1.8rem;
}

textarea {
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4rem;
  min-width: 32rem;
  width: 24vw;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}
textarea:focus {
  border: none;
  border: solid 0.3rem #006eff;
  height: 98%;
}

.appContainer {
  padding: 0 12vw;
  background-image: radial-gradient(rgba(17, 94, 182, 0.4) 1px, transparent 1px);
  background-size: 80px 80px;
  background-color: #ffffff;
}

.navbar {
  background-color: #fff;
  z-index: 100000;
  margin: 0;
  margin-left: -12vw;
  margin-right: -12vw;
  box-shadow: 0 0.1rem 1.2rem rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  left: 0;
}
.navbarContainer__main {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.navbarContainer__sub {
  background-color: #115eb6;
  padding: 1.6rem 0;
  color: #fff;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarContainer__sub h4 {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: -1.6rem;
}
.navbar__brand {
  max-height: 4rem;
  max-width: 16rem;
  width: 12vw;
  min-width: 8rem;
  margin-left: 1rem;
}
.navbar__navigation {
  margin-left: auto;
  margin-bottom: -1rem;
}
.navbar__link {
  font-size: 1.6rem;
  margin-right: 2rem;
  margin-bottom: 0;
  border-bottom: solid 0 #a1cdff;
  transition: all 0.1s;
}
.navbar__link:hover {
  position: relative;
  top: -0.08rem;
  left: -0.08rem;
  border-bottom: solid 0.16rem #a1cdff;
}
.navbar__link:active {
  position: relative;
  top: 0;
  left: -0.08rem;
  border-bottom: none;
}
.navbar__button {
  background-color: #006eff;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.315);
  word-wrap: normal;
  width: fit-content;
  height: 5rem;
  border-radius: 0.3rem;
  border-bottom-right-radius: 12px;
  margin: 0 2rem;
  margin-bottom: -1rem;
  padding: 0 2rem;
}
.navbar__button h3::after {
  content: " ▸";
}
.navbar__message {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.navbar__message--close {
  margin: 0 1rem;
}
.navbar__message--close:hover {
  color: grey;
}

.paragraphs {
  margin: 0 -2rem;
  min-width: 44ch;
  width: 100%;
  max-width: 55vw;
}
.paragraphsContainer {
  padding: 2vw;
}
.paragraphs__header {
  margin-bottom: 0.8vw;
  margin-left: -0.2rem;
}
.paragraphs__text {
  margin-bottom: 2vw;
}
.paragraphs__text:last-of-type {
  margin-bottom: 1vw;
}
.paragraphs__button {
  color: #1435a1;
  padding: 0.4rem 0;
  justify-content: flex-end;
}
.paragraphs__button::after {
  content: " ->";
  margin-left: 0.2rem;
}

.quoted {
  position: relative;
}
.quoted::before {
  content: "“";
  display: inline-block;
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.quoted::after {
  content: "„";
  display: inline-block;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contactBanner {
  background-color: #115eb6;
  margin-bottom: 8rem;
  margin-left: -12vw;
  margin-right: -12vw;
  color: #fff;
  /* LEFT */
}
.contactBannerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55vh;
  position: relative;
}
.contactBanner__panelDetails {
  height: inherit;
  padding-left: 12vw;
  padding-right: 4rem;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}
.contactBanner__header {
  margin-bottom: 2rem;
}
.contactBanner__header::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.4rem;
  background-color: #1435a1;
}
.contactBanner__contactDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contactBanner__contactItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.contactBanner__contactItem p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.contactBanner__contactItem svg {
  opacity: 0.6;
  font-size: 1.4rem;
}
.contactBanner__panelMap {
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  overflow: hidden;
}
.contactBanner__panelMap .mapPlaceholder {
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.contactBanner__button {
  background-color: #006eff;
  height: 10rem;
  width: 20rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.faqMost {
  margin-left: -12vw;
  margin-right: -12vw;
  margin-top: 12rem;
}
.faqMostContainer {
  padding-right: 12vw;
  padding-left: 12vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  height: fit-content;
  color: #fff;
}
.faqMost__leftSide {
  padding: 3.2rem 4rem;
  background-color: #115eb6;
  border-radius: 2.8rem;
  width: 66vw;
  overflow-y: scroll;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.3);
  max-height: 60rem;
}
.faqMost__rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 45vw;
}
.faqMost__rightSideCopy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  border: solid 1rem #1ea382;
  min-height: 10rem;
  padding: 2rem 6rem;
  border-radius: 2rem;
  box-shadow: 1rem 0 #158181;
}
.faqMost__rightSideCopy h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}
.faqMost__header {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}
.faqMost__listQuestions {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding-left: 2rem;
}
.faqMost__questionContainer {
  position: relative;
  padding-bottom: 1.2rem;
  max-width: 66vw;
}
.faqMost__questionContainer::before {
  content: "";
  display: inline-block;
  background-color: #1435a1;
  height: 100%;
  width: 0.4rem;
  border-radius: 0.3rem;
  position: absolute;
  left: -1.4rem;
}
.faqMost__question {
  font-size: 2.4rem;
  font-weight: 700;
}
.faqMost__answer {
  font-size: 1.5rem;
  max-width: 88ch;
}
.faqMost__cta {
  color: #333;
  background-color: #fff;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  height: fit-content;
}
.faqMost__cta h3::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.4rem;
  background-color: #115eb6;
}
.faqMost__cta a {
  color: #fff;
  background-color: #006eff;
  width: 15rem;
  margin: 2rem 0;
}

.faq {
  margin-left: -12vw;
  margin-right: -12vw;
  margin-top: 8rem;
  margin-bottom: 12rem;
}
.faqContainer {
  padding-left: 14vw;
  padding-right: 12vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  height: fit-content;
  color: #333;
}
.faq__header {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}
.faq__listQuestions {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding-left: 2rem;
}
.faq__questionContainer {
  position: relative;
  padding-bottom: 1.2rem;
}
.faq__questionContainer::before {
  content: "";
  display: inline-block;
  background-color: #1435a1;
  height: 100%;
  width: 0.4rem;
  border-radius: 0.3rem;
  position: absolute;
  left: -1.4rem;
}
.faq__question {
  font-size: 2.4rem;
  font-weight: 700;
}
.faq__answer {
  font-size: 1.4rem;
  max-width: 93ch;
}

.homeBanner {
  margin: 0;
  margin-left: -12vw;
  margin-right: -12vw;
  background-color: red;
  min-height: 28rem;
  height: 56vh;
  overflow: hidden;
}
.homeBannerContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1542330952-bffc55e812b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.homeBanner__copy {
  background-color: rgba(17, 94, 182, 0.2);
  height: 100%;
  width: 33vw;
  max-width: 44rem;
  padding: 0 4vw;
  padding-right: 8rem;
  margin-right: -4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2vw;
}
.homeBanner__title h1 {
  margin: 0;
  text-transform: capitalize;
}
.homeBanner__title h1::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.4rem;
  background-color: rgba(255, 255, 255, 0.9);
}
.homeBanner__subtitle {
  margin-left: 2px;
  margin-bottom: 3rem;
}
.homeBanner__modal {
  background: #fff;
  box-shadow: 0.8rem 0 1px #1435a1;
  color: #115eb6;
  margin-bottom: 2vw;
  border-radius: 3rem;
  border-top-left-radius: 0.3rem;
  transform: translatex(1vw);
  align-self: flex-end;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
.homeBanner__list {
  font-size: 1.4rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
.homeBanner__list li {
  text-align: center;
  max-width: 14ch;
}
.homeBanner__cta {
  background-color: #0abe40;
  color: #fff;
  padding: 1vw;
  margin: 0 auto;
  width: 88%;
  border-radius: 0.3rem;
  align-self: flex-start;
}

.bannerNews {
  margin: 0;
  margin-left: -12vw;
  margin-right: -12vw;
  background-color: #fff;
  box-shadow: 0 0.1rem 1.2rem -0.5rem rgba(0, 0, 0, 0.3);
  margin-bottom: 1.6rem;
}
.bannerNewsContainer {
  padding: 4rem 12vw 2rem;
  display: grid;
  flex-direction: row;
  justify-content: baseline;
}
.bannerNews__header h3 {
  margin: 0;
  margin-right: 4rem;
  margin-bottom: 2rem;
  flex-shrink: 1;
}
.bannerNews__contentList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}
.bannerNews__itemLink {
  font-size: 1.4rem;
  min-width: 17rem;
  width: fit-content;
  max-width: 52rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  margin-right: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  transition: all 0.2s;
}
.bannerNews__itemLink:hover {
  transform: scale(1.02) translate(-0.1rem, -0.1rem);
}
.bannerNews__itemLink:active {
  transform: scale(1.01) translate(-0.06rem, -0.06rem);
}
.bannerNews__itemLink::before {
  content: "▶";
  font-size: 1rem;
  margin-right: 0.2rem;
}/*# sourceMappingURL=main.css.map */