@mixin sectionStyleCommon {
  margin-bottom: $sectionSpacerVertical;
  background-color: $color-white;
  // overflow: hidden;

  &Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    column-gap: 2rem;
    align-items: center;

    // grid-area: 'a b';
    & * {
      margin-bottom: $verticalSpacing--small;
    }
  }

  &__copy {
    padding-top: $verticalSpacing--smaller;
    // grid-area: 'a';
    max-width: 98ch;

    & h3 {
      max-width: 28ch;
      color: $color-primary;
    }

    & p:last-of-type {
      margin-bottom: $verticalSpacing--small;
    }

    $listSize: 1.2rem;

    ul {
      margin: $listSize * 1.6 0;
      padding: $listSize * 0.33 0;
      padding-left: $listSize;
      padding-bottom: $listSize * 0.1;

      border-left: $listSize * 0.05 solid $color-primary;

      list-style: none;
    }

    li {
      font-size: $emphasis-fontSize;
      font-weight: 400;
      color: $color-black;

      &::before {
        content: '▪';
        margin-right: $listSize * 0.2;
        color: $color-primary-dark--90;
      }

      &:not(:last-of-type) {
        margin-bottom: $listSize * 0.62;
      }
    }
  }

  // &__figure {
  //   // width: 26vw;
  // }

  &__ctaRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;

    @include for-tablet-portrait-down {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__button {
    width: 40%;
    background-color: $color-button-primary;
    text-align: center;
    color: $color-white;
    flex-grow: 1;
    height: 3.2rem;
    align-self: center;
  }
}

@mixin contentFigureStyle {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include for-tablet-landscape-down {
    padding: none;
    margin: none;
  }

  & svg,
  i {
    font-size: $svgSize;
    color: $color-primary-dark--90;
    min-height: 16rem;
  }
}

/* SVG SIZE */
$svgSize: 8vw;

.contentSectionCard {
  @include sectionStyleCommon;

  // @include responsiveMarginSide;
  margin: 0 1.2vw;

  $borderSize: $verticalSpacing--smaller;
  @include for-tablet-landscape-up {
    border-left: $borderSize solid $color-primary;
    border-radius: $borderRadius;
    box-shadow: 2px 2px 12px $shadow-20;
  }

  &Container {
    padding: $borderSize 0;
    @include responsivePaddingSide;
  }

  &__copy {
    margin-left: -3.2rem;

    @include for-small-desktop-down {
      margin-left: 0;
    }
  }

  &__figure {
    & img {
      margin: 0;
    }

    margin: -$borderSize 0;
    margin-right: -$borderSize * 20;

    @include for-tablet-portrait-down {
      margin: -$borderSize * 2;
    }

    // overflow: hidden;

    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include contentFigureStyle;
  }
}

.contentSection {
  margin: 0 $pageTextPadding;
  @include responsiveMarginSide;

    @include sectionStyleCommon;

  &__figure {
    // overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    @include contentFigureStyle;
    clip-path: polygon(4% 4%, 100% 0%, 96% 96%, 0% 100%);

    @include for-tablet-landscape-down {
      margin-top: $verticalSpacing--smaller;
      margin-bottom: $verticalSpacing--smaller;
      clip-path: none;

      border-radius: $borderRadius;
      // box-shadow: 2px 2px 12px -4px $shadow-10;

      gap: 0.8rem;
    }
  }
}
