.footer {
  margin: 0;

  // @include sidePadElement;

  background-color: $color-white;

  &Container {
    padding: 0 $pageTextPadding;
    padding-bottom: 12rem;

    box-shadow: 0 -0.2rem 0.8rem $shadow-20;
  }

  /* TOP LAYER */
  &__layerContact {
    z-index: 1000;
    position: sticky;
    bottom: 0;
    padding: 0 1.6rem;
    // padding-top: 0.8rem;
    height: 3.2rem;
    background-color: $color-white;
    border-top: solid 0.1rem $color-primary--50;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include for-phone-only {
      position: relative;
      height: 6rem;
      justify-content: center;
      padding-top: $verticalSpacing--small;
      gap: 2rem;
    }
  }

  &__socials {
    display: flex;
    align-content: flex-end;
    gap: 1rem;
    @include for-phone-only {
      &--logo {
        font-size: 2rem;
      }
      justify-content: space-evenly;
      gap: 2rem;
    }

    &--logo {
      font-size: 1.8rem;

      &:hover {
        color: $color-button-primary;
      }
    }
  }

  &__contactUs {   
    display: flex;
    align-items: center;
    gap: 0;

    & h4 {
      font-weight: 400;
    }

    & i {
      font-size: 1.2rem;
    }
  }

  /* MAIN FOOTER */
  &__main {
    padding-top: $verticalSpacing--large;
  }


  &__navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.4rem;

    @media screen and (max-width: $bp-smaller) {
      margin-top: $verticalSpacing--medium;
    }
  }

  &__brandLogo {
    padding: 2vw;
    min-width: 16rem;
    width: 16vw;
    max-width: 24rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @media screen and (max-width: $bp-smaller) {
      /* HERE */
    }
  }

  &__logoSubline {
    font-size: $h5-fontSize;
    opacity: 0.6;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
  }

  &__listHeader h4 {
    margin-bottom: 0.1rem;
    opacity: 0.4;
    font-weight: 600;
  }

  &__link {
    font-size: $p-fontSize;
    font-weight: 500;

    &:hover {
      color: $color-button-primary;
    }

    @include for-phone-only {
      padding: 0.8rem;
      padding-left: 0;
      text-decoration: none;
      font-size: $p-fontSize*1.2;
    }
  }
}