/* CONTACT FORM */

.contactForm {

  margin-bottom: $sectionSpacerVertical;
  padding: $verticalSpacing--larger $pageTextPadding;

  background-color: $color-white;

  display: flex;
  justify-content: center;

  &Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  position: relative;

  &__shape1 {
    position: absolute;
    inset: 0;
    clip-path: polygon(2% 8%, 99% 1%, 90% 16%, 49% 20%, 3% 52%);

    background: linear-gradient(120deg, $color-primary--10, $color-primary);

    width: 100%;
    height: 12rem;
  }

  &__header {
    transform: translateX(-0.6rem);

    & h2.text {
      margin-bottom: 0;
    }
  }

  &__subheader {
    margin-bottom: $verticalSpacing--small;

    &h4.text {}
  }

  &__form {

    min-width: 42rem;

    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: $verticalSpacing--smaller;
    font-size: $h4-fontSize;

    color: $color-primary;


    span.label__icon {
      opacity: 0.6;
      margin-right: 4px;

      svg {
        font-size: $h4-fontSize;
        transform: translatex(3px);
      }
    }

    span.label__text {
      color: $color-black;

      & span.textAdd {
        opacity: 0.6;
      }
    }
  }

  @mixin fieldStyling {
    background-color: $color-primary-light--10;

    border: none;
    border-radius: 0;

    font-family: inherit;
    color: $color-black;

    &:focus {
      outline: none;
      transform: translatex(0.1rem);
      background-color: $color-primary-dark--20;
      border-bottom: 2px solid $color-primary;
    }
  }

  &__input {
    font-size: $p-fontSize;
    margin-bottom: $verticalSpacing--small;
    padding-left: 0.8rem;
    max-width: 36rem;
    height: 3.2rem;


    @include fieldStyling;
  }

  &__textarea {
    padding: 0.8rem;
    columns: 104;

    @include fieldStyling;
  }

  &__message {
    margin-top: $verticalSpacing--smaller;
    margin-left: auto;

    &span.text {
      font-size: $h5-fontSize;
    }
  }

  &__button {
    margin-top: $verticalSpacing--smaller;
    background-color: $color-button-primary;
    color: $color-white;
    height: 3.2rem;
  }


}