.processHeader {
  margin: 0;

  &Container {
    overflow: hidden;
  }

  &__titleFigureContainer {
    margin: 0 $pageTextPadding;
    @include responsiveMarginSide;
    padding: $verticalSpacing--medium 0;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }


  &__title {
    // margin: 0 auto;
    max-width: 32rem;

    & h1.text {
      // transform: translateX(-0.8rem);
      margin-bottom: $verticalSpacing--small;

      &::before {
        content: '';
        position: absolute;
        left: -$h1-fontSize*0.66;
        top: 1.2rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 0 12px 24px;
        border-color: transparent transparent transparent $color-primary;
      }
    }

    & subtitle.sub {
      color: $color-black--60;
    }

    & p.text {
      transform: translateY(1.2rem);
    }
  }

  &__figure {
    flex-shrink: 2;

    & img,
    svg,
    i {
      height: 40vh;
      max-height: 40rem;
      width: auto;
    }
  }

  &__progressBarContainer {
    z-index: 9999;

    position: sticky;
    top: $navbarHeight;
    left: 0;

    margin-bottom: $sectionSpacerVertical;
    padding: $verticalSpacing--smaller $pageTextPadding;
    @include responsivePaddingSide;

    background-color: $color-white;
    box-shadow: 0 4px 8px -8px $shadow-20;
    
    @include for-phone-only {
      display: none;
    }
  }

  &__progressBar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $color-primary;
    opacity: 0.2;

    $stepSize: 1rem;

    & svg.stepIcon,
    i.stepIcon {
      font-size: $stepSize*1.62;
    }

    & a.stepText {
      font-size: $stepSize;
      text-align: center;
      text-decoration: none;
    }

    &Divider {
      transform: translateY(1.6rem);
      flex-grow: 1;
      margin: 0 1.6rem;
      // width: 16vw;
      // max-width: 20rem;
      height: 1.6px;

     

      background: linear-gradient(90deg, $color-primary--20, $color-primary--20);
      border-radius: $borderRadius;

      &--active {
        background: linear-gradient(90deg, $color-primary, $color-primary--20);
      }

      &--completed {
        background: linear-gradient(90deg, $color-primary, $color-primary);
      }
    }

    &--current {
      // color: $color-primary;
      opacity: 1;
      transform: scale(1.1);
    }
  }
}