.button {
  
  @include noSelectionStyle;
  transform: translateX(-8px);
  padding: 1rem;

  box-shadow: 0.8rem 0 1px $color-primary-dark;
  border: solid 4px transparent;
  border-radius: $borderRadius;
  border-end-end-radius: 12px;

  font-size: $emphasis-fontSize;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  transition: all 0s;

  &:hover {
    filter: brightness(1.1);
    transform: translateX(-9px);
    box-shadow: 0.9rem 0 1px $color-primary-dark;
  }
  &:active {
    position: relative;
    transform: translateX(-1px);
    filter: brightness(0.9);
    box-shadow: 0.2rem 0 1px $color-primary-dark;
  }
  
  &--small {
    box-shadow: none;
    &:hover {
      filter: none;
      bottom: 0.05rem;
      box-shadow: none;
    }
  }


}