.pageHeader {
  margin: 0;
  // margin-bottom: $verticalSpacing--larger;
  // @include sidePadElement;
  // margin-bottom: $verticalSpacing--large;

  background-size: cover;

  &__banner {
    position: relative;
    padding: $verticalSpacing--large $pageTextPadding;
    height: 8rem;
    
    overflow: hidden;

    display: flex;
    align-items: flex-end;
  }

  &__title {
    transform: translateY(1rem);

    color: $color-white;
    text-transform: capitalize;
    text-shadow: 0.2rem 0.2rem 0.8rem $shadow-30;
  }

  &__navigation {
    z-index: 1000;
    position: sticky;
    top: $navbarHeight;
    height: fit-content;

    margin-bottom: $verticalSpacing--large;
    padding: $verticalSpacing--smaller $pageTextPadding;
    // @include mediumLayoutPadding;
    
    background-color: $color-primary;
    
    color: $color-white;
    box-shadow: 0 1px $color-black--30;


    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1.2vw;
  }

  &__link {
    transform: translateY(2px);
    height: 2rem;
    
    text-decoration: none;
    font-size: $h4-fontSize;
    font-weight: 500;
    
    
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
    }

    &:not(:last-child)::after {
      content: ' ';
      margin: 1.2rem;
      border: none;
    }

  }
}