.testimonial {
  margin: 0 $pageTextPadding;
  // @include responsivePaddingSide;
  margin-bottom: $sectionSpacerVertical;

  &Container {
    z-index: 100;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: $verticalSpacing--medium;
  }
  
  position: relative;
  &__shape {
    z-index: 1;
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    
    background-color: $color-primary-light--20;

    &1 {  
      clip-path: polygon(98% 2%, 95% 88%, 81% 16%, 53% 19%, 9% 5%);
    }
    &2 {  
      clip-path: polygon(16% 87%, 39% 90%, 100% 100%, 3% 97%, 6% 50%);
    }
  }

  &__userQuote {
    height: 28rem;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__userProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $verticalSpacing--smaller;

    & img.profileImg {
      $imgSize: 8rem;
      height: $imgSize;
      width: $imgSize;
      
      border-radius: 100px;
    }
  }

  &__blockquote {
    text-align: justify;
    & blockquote {
      max-width: 40ch;
      color: $color-primary-dark;
      text-align: center;
      &::before {
        content: open-quote;
        color: $color-primary;
      }
      &::after {
        content: close-quote;
        color: $color-primary;
      }
    }
  }

  &__source {
    margin-left: auto;
    margin-right: 3.2rem;
    opacity: 0.8;
  }

  &__text {
    $sideBorderDistance: 3.2rem;
    border-left: 1px solid $color-primary--40;
    padding-left: $sideBorderDistance;
    & p {
      max-width: 56ch;
    }
  }
}