.bannerMedium {
  margin: 0;
  margin-bottom: $sectionSpacerVertical;
  padding: $verticalSpacing--smaller;
  @include sidePadElement;
  
  height: fit-content;
  
  &Container {
    padding: $verticalSpacing--medium $pageTextPadding;
    background-size: cover;
    background-repeat: no-repeat;
    @include mediumLayoutPadding;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    gap: 4vw;
  }

  &__header {
    position: relative;
    display: initial;
  }

  &__badge {
    position: absolute;
    top: -4.8rem;
    left: -3.6rem;
    
    padding: 0.8rem $verticalSpacing--small 0.6rem;
    background-color: $color-primary-dark;
    color: $color-white;
    border-radius: 100px;
  }

  &__spacer {
    margin-left: -2rem;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-bottom: 1.2rem solid transparent;
    border-left: .8rem solid $color-primary;
    align-self: center;

  }

  &__copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__paragraph {
    max-width: 80ch;
    font-size: $p-fontSize*1.1;
  }

  &__button {
    background-color: $color-button-primary;
    color: $color-white;
  }
}