.comments {
  margin: 0;
  margin-left: -$sidePadding;
  margin-right: -$sidePadding;
  background: linear-gradient(rgba(241, 196, 48, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1560264418-c4445382edbc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&);
  background-origin: border-box;
  background-repeat: no-repeat;

  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }

  &__header {
    color: $color-white;
  }

  &__form {}
}