.headliner {

  margin: $verticalSpacing--largest auto;
  color: $color-primary-dark;
  background-color: transparent;
  vertical-align: center;

  max-width: 66vw;

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4vw;
  }

  &__icon {
    & img {
      width: 4.8vw;
      height: auto;
    }
    & svg {
      font-size: 4vw;
    }
  }


  &__text {

    &--center {
      text-align: center;
    }
  }
}