.pageHeader {
  margin: 0;
  @include sidePadElement;
  background-size: auto;
  margin-bottom: $verticalSpacing--larger;

  &__banner {
    height: 8rem;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: flex-end;
    padding: $verticalSpacing--large $pageTextPadding;
    @include mediumLayoutPadding;
  }

  &__title {
    color: $color-white;
    text-transform: capitalize;
    text-shadow: 0.2rem 0.2rem 0.6rem $shadow-30;
    margin-bottom: -$verticalSpacing--small;
  }

  &__navigation {
    background-color: white;
    padding: $verticalSpacing--small $pageTextPadding;
    @include mediumLayoutPadding;

    box-shadow: 0 0.1rem 0.6rem -0.4rem $shadow-30;


    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1.2rem;
  }

  &__link {
    font-weight: 500;
    font-size: 1.4rem;
    height: 2rem;

    border-bottom: 0.4px solid transparent;

    &:hover {
      color: $color-primary;
    }

    &:not(:last-child)::after {
      content: ' ';
      margin: 1.2rem;
      border: none;
    }

  }
}