.testimonialQuote {
  margin: 4rem auto;
  width: fit-content;
  transform: translateY(-1rem);

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__profileImg {
    $imgSize: 8rem;
    height: $imgSize;
    width: $imgSize;
    border-radius: 100rem;
    margin-bottom: $imgSize/6.25;
    box-shadow: 0.2rem 0.2rem 0.6rem $shadow-30;
  }

  &__text {
    color: $color-primary-dark;
    text-align: center;
    min-width: 90ch;
    width: 16vw;
    max-width: 140ch;
    margin-bottom: 0.8rem;
  }

  &__source h5 {
    width: 100%;

    &::before {
      content: "—";
    }
  }


}