.homeTop {
  padding: $verticalSpacing--medium $pageWidePadding;
  // background: linear-gradient($color-black--10, $color-black--10), url(https://images.unsplash.com/photo-1542330952-bffc55e812b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
  // background: linear-gradient($color-black--10, $color-black--10), url(https://images.unsplash.com/photo-1571844307880-751c6d86f3f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2017&q=80);
  // background: linear-gradient($color-black--10, $color-black--10), url(https://images.unsplash.com/photo-1590650423710-ffa6e7f63440?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);
  // background: linear-gradient($color-black--20, $color-black--20), url(https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
  background: url(https://images.unsplash.com/photo-1576267423445-b2e0074d68a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);




  position: relative;
  &::before {
    content: '';
    clip-path: polygon(47% 0, 86% 38%, 100% 100%, 0 100%, 0 0);

    display: inline-block;
    height: 100%;
    width: 33vw;
    background: linear-gradient($color-primary--10, $color-primary);
    filter: blur(3);
    position: absolute;
    inset: 0;
  }

  &Container {

    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    column-gap: $verticalSpacing--large;

    align-items: center;
  }

  &__pageHeader {
    grid-area: "left";
  }

  &__title {
    
    
    & h1.text {
      text-shadow: 2px 2px 8px $shadow-50;
      margin-bottom: $verticalSpacing--small;
      padding-bottom: $verticalSpacing--small;
      border-bottom: solid 2px $color-white;
      font-size: $h1-fontSize;
      color: $color-white;
    }
  }

  &__subtitle {
    max-width: 80ch;

    & subtitle.text {
      text-shadow: 2px 2px 8px $shadow-50;
      font-weight: 400;
      color: $color-white--90;
      line-height: 1.4;

      position: relative;
    }
  }

  &__modal {
    justify-self: end;
    margin-bottom: $verticalSpacing--medium;
    padding: $verticalSpacing--small $verticalSpacing--medium;
    min-width: 38rem;
    max-width: 44rem;
    height: fit-content;
    
    background-color: $color-white--90;
    box-shadow: 0.8rem 0.8rem 0 $color-primary-dark;
    border-radius: $verticalSpacing--small;

    grid-area: "right";
    align-self: end;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: $verticalSpacing--small;

    &Header {
      transform: translateY(0.8rem);
      margin-right: auto;

      & h3.text {
        font-size: $h4-fontSize;
        color: $color-primary-dark;
        margin-bottom: $verticalSpacing--smaller;
      }
    }

  }

  &__figureList {
    transform: translateY(-4px);
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;

    & svg.icon, i.icon {
      font-size: 2.4rem;
      color: $color-primary;
      transform: translateX($verticalSpacing--small);
    }

    & span.label {
      font-size: $h5-fontSize;
      color: $color-primary-dark;

      & .check {
        margin-left: 0.2rem;
        font-size: inherit;
        color: $color-button-secondary;
      }
    }
  }

  &__cta {
    background-color: $color-button-primary;
    color: $color-white;
    width: 88%;

    &--message {
      text-transform: uppercase;
      color: $color-white;
      font-weight: 700;
    }
  }


}