.homeTop {
  padding: $verticalSpacing--large $pageWidePadding;
  @include responsivePaddingSide;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);

  height: 40vh;
  max-height: 48rem;
  
  display: flex;
  align-items: flex-end;

  position: relative;

  &::before {
    content: '';
    clip-path: polygon(47% 0, 86% 38%, 100% 100%, 0 100%, 0 0);

    display: inline-block;
    height: 100%;
    width: 33vw;
    background: linear-gradient($color-primary--50, $color-primary);
    position: absolute;
    inset: 0;
  }
  
  &Container {
    margin: auto 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $verticalSpacing--medium;
    flex-wrap: wrap;
  }

  &__pageHeader {
    
    // grid-area: "left";
    flex-grow: 1;
  }

  &__title {


    & h1.text {
      text-shadow: 2px 2px 8px $shadow-50;
      margin-bottom: $verticalSpacing--small;
      padding-bottom: $verticalSpacing--small;
      color: $color-white;

      &::after {
        content: '';
        display: block;
        margin-top: $verticalSpacing--medium;
        width: 33%;
        height: 1px;
        background-color: $color-white--60;
      }
    }
  }

  &__subtitle {
    max-width: 80ch;

    & subtitle.text {
      text-shadow: 2px 2px 8px $shadow-50;
      font-weight: 400;
      color: $color-white--90;
      line-height: 1.4;

      position: relative;
    }
  }

  &__modal {
    z-index: 1000;
    margin: 0 auto;
    margin-bottom: $verticalSpacing--large;
    padding: $verticalSpacing--small $verticalSpacing--medium;
    // min-width: 38rem;
    max-width: 44rem;
    height: fit-content;

    background-color: $color-white--90;
    box-shadow: -1px 6px 12px 3.5px $shadow-30;
    border-radius: $verticalSpacing--small;

    @include for-tablet-landscape-down {
      border-radius: $borderRadius;
      margin: 0 -2.4rem;
    }


    align-self: flex-end;
    flex-grow: 1;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $verticalSpacing--small;

    &Header {
      transform: translateY(0.8rem);
      margin-right: auto;

      & h3.text {
        font-size: $h4-fontSize;
        color: $color-primary-dark;
        margin-bottom: $verticalSpacing--smaller;
      }
    }

  }

  &__figureList {
    transform: translateY(-4px);
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $verticalSpacing--smaller;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;

    & svg.icon,
    i.icon {
      font-size: 2.4rem;
      color: $color-primary;
      transform: translateX($verticalSpacing--small);
    }

    & span.label {
      font-size: $h5-fontSize;
      color: $color-primary-dark;

      & .check {
        margin-left: 0.2rem;
        font-size: inherit;
        color: $color-button-secondary;
      }
    }
  }

  &__cta {
    background-color: $color-button-primary;
    color: $color-white;
    width: 88%;

    &--message {
      text-transform: uppercase;
      color: $color-white;
      font-weight: 700;
    }
  }


}