.bannerNews {
  margin-bottom: $verticalSpacing--medium;
  padding: $verticalSpacing--large $pageTextPadding;
  padding-bottom: $sectionSpacerVertical;

  background-color: $color-white;
  
  &Container {
    
  }

  position: relative;
  &__shape1 {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 50%;
    clip-path: polygon(80% 21%, 97% 8%, 98% 94%, 53% 86%, 74% 64%, 83% 47%);

    height: 110%;
    background: linear-gradient(-120deg, transparent, $color-primary--30);
  }

  &__header h3 {
    margin: 0;
    color: $color-primary-dark;
  }

  &__content {
    display: flex;
    gap: 2.4rem;
  }

  &__list {
    list-style: none;
    width: 72vw;
    padding-right: 0.8rem;
    border-right: solid 1px $color-primary-dark--10;
  }

  &__item {
    $sideSpacing: 0.4rem;
    margin-bottom: $verticalSpacing--smaller;
    margin-left: -$sideSpacing;
    padding-left: $sideSpacing;

    border-left: solid 2px $color-primary;

    a.bannerNews__link {
      font-size: $p-fontSize;
      text-decoration: none;
      font-weight: 500;
      & span.text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
      }

      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }

  &__highlight {
    padding-left: 2rem;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & span.text {
      transform: translateY(-12px);

      font-size: $h2-fontSize;
      font-weight: 700;
      line-height: 1.2;
      color: $color-primary;
    }

    & a.sub {
      transform: translate(2px, -6px);
    }
  }

  &__more {
    display: flex;
    justify-content: flex-start;
  }
}