.faq {
  margin-bottom: $sectionSpacerVertical;
  // @include sidePadElement;

  &Container {
    // padding-left: $pageTextPadding+2;
    padding: 0 $pageTextPadding;
    // @include mediumLayoutPadding;
    width: fit-content;

    height: fit-content;
    color: $color-black;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

  }

  &__header h2 {
    margin-bottom: $verticalSpacing--smaller;
    font-size: $h2-fontSize;
  }

  &__listQuestions {
    padding-left: 2rem;

    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  &__questionContainer {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -1.4rem;

      height: 100%;
      width: 0.4rem;

      border-radius: $borderRadius;
      background-color: $color-primary-dark;
      display: inline-block;
    }
  }

  &__question {
    font-size: $h3-fontSize;
    font-weight: 700;
  }

  &__answer {
    max-width: 75ch;
    line-height: 1.4;
    font-size: $p-fontSize;
  }

}