// MAIN TEXT TYPOGRAPHY
$h1-fontSize: 2.8vw;
$h2-fontSize: 2vw;
$h3-fontSize: 1.4vw;
$h4-fontSize: 1.2rem;
$h5-fontSize: 1rem;

$p-fontSize: 1.2rem;

p {
  font-size: $p-fontSize;
}

h1 {
  font-size: $h1-fontSize;
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: $h1-fontSize*1.3;
  word-spacing: 0.1rem;
  word-wrap: normal;
}

subtitle {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
  word-wrap: break-word;
}

h2 {
  font-size: $h2-fontSize;
  font-weight: 500;
  letter-spacing: -0.16rem;
  word-wrap: normal;
}

h3 {
  font-size: $h3-fontSize;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.1rem;
  margin-bottom: 1vw;
  word-wrap: normal;
}

h4 {
  font-size: $h4-fontSize;
  font-weight: 600;
  letter-spacing: -0.05rem;
  word-wrap: normal;
}

// OTHER TYPOGRAPHY
blockquote {
  font-size: $h2-fontSize;
  font-weight: 600;
  letter-spacing: -.1vw;
  line-height: 1.2;
}

a {
  font-size: $p-fontSize * 1.1;
  font-weight: 600;
  letter-spacing: -0.06rem;
  text-decoration: none;
  color: inherit;
}