// MAIN TEXT TYPOGRAPHY
$h1-fontSize: 4rem;
$h2-fontSize: 3.2rem;
$h3-fontSize: 2.4rem;
$h4-fontSize: 1.4rem;
$h5-fontSize: 0.9rem;

$p-fontSize: 1.4rem;
$emphasis-fontSize: 1.6rem;

p {
  font-size: $p-fontSize;
  line-height: 3rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: $h1-fontSize;
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  word-spacing: 0.1rem;
  word-wrap: normal;
}

subtitle {
  font-size: 2.8rem;
  margin-top: $verticalSpacing--smaller;
  font-weight: 300;
  line-height: 1;
  font-style: italic;
  word-wrap: break-word;
}

h2 {
  font-size: $h2-fontSize;
  font-weight: 500;
  letter-spacing: 0.9;
  line-height: 1;
  word-wrap: normal;
}

h3 {
  font-size: $h3-fontSize;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.5px;
  word-wrap: normal;
}

h4 {
  font-size: $h4-fontSize;
  font-weight: 600;
  letter-spacing: -0.05rem;
  word-wrap: normal;
}

h5 {
  font-size: $h5-fontSize;
  letter-spacing: 0.6px;
}

// OTHER TYPOGRAPHY
blockquote {
  font-size: $h2-fontSize;
  font-weight: 600;
  line-height: 1.2;
  padding: 0 1rem;
}

a {
  font-size: $p-fontSize * 1.1;
  font-weight: 600;
  letter-spacing: -0.06rem;
  text-decoration: none;
  color: inherit;
}