    <!-- NEWS -->
    <div class="bannerNews">
      <div class="bannerNewsContainer">
        <div class="bannerNews__header">
          <h3>BV Online Nieuws & actualiteit</h3>
        </div>
        <div class="bannerNews__contentList">
          <a href="#" class="bannerNews__itemLink" id="#nieuwsArtikel__link"><span class="text">Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Sequi pariatur voluptatum labore sint veniam magni quasi?</span></a>
          <a href="#" class="bannerNews__itemLink" id="#nieuwsArtikel__link"><span class="text">Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Sequi pariatur voluptatum labore sint veniam magni quasi?</span></a>
          <a href="#" class="bannerNews__itemLink" id="#nieuwsArtikel__link"><span class="text">Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Sequi pariatur voluptatum labore sint veniam magni quasi?</span></a>
          <a href="#" class="bannerNews__itemLink" id="#nieuwsArtikel__link"><span class="text">Lorem ipsum, dolor sit
              amet consectetur adipisicing elit. Sequi pariatur voluptatum labore sint veniam magni quasi?</span></a>
        </div>
        <div class="bannerNews__more">
          <a href="" class="bannerNews__button button--small">Meer nieuws</a>
        </div>
      </div>
    </div>
