// MAIN TEXT TYPOGRAPHY
$h1-fontSize: 4rem;
$h2-fontSize: 3.2rem;
$h3-fontSize: 1.8rem;
$h4-fontSize: 1.1rem;
$h5-fontSize: 0.9rem;

$p-fontSize: 1.1rem;
$emphasis-fontSize: 1.2rem;
$subtitle-fontSize: 1.6rem;
$blockquote-fontSize: 2.4rem;

p {
  margin-bottom: $verticalSpacing--small;
  &:last-of-type {
    margin-bottom: $verticalSpacing--large;
  }
  font-size: $p-fontSize;
  line-height: 1.8;
  min-width: 24ch;
  max-width: 125ch;
}

h1 {
  transform: translateX(-0.8rem);
  font-family: 'Poppins', sans-serif;
  font-size: $h1-fontSize;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

subtitle {
  font-size: $subtitle-fontSize;
  margin-top: $verticalSpacing--smaller;
  font-weight: 400;
  word-wrap: break-word;
}

h2 {
  font-size: $h2-fontSize;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.2;
  word-wrap: normal;
}

h3 {
  margin-bottom: $verticalSpacing--small;
  font-size: $h3-fontSize;
  line-height: 1.4;
  color: $color-primary-dark--90;
  font-weight: 600;
  word-wrap: normal;
}

h4 {
  font-size: $h4-fontSize;
  font-weight: 500;
  opacity: 0.8;
  letter-spacing: -0.05rem;
  word-wrap: normal;
}

h5 {
  font-size: $h5-fontSize;
  letter-spacing: 0.6px;
}

// OTHER TYPOGRAPHY
blockquote {
  font-size: $blockquote-fontSize;
  font-weight: 600;
  line-height: 1.2;
  padding: 0 1rem;
}

a { 
  color: inherit;
  &:hover {
    color: $color-primary;
  }
  &.link {
    font-size: $emphasis-fontSize;
    font-weight: 500;
    letter-spacing: -0.06rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    text-decoration: underline;

    & svg {
      transform: translateY(3px);
      margin-right: 4px;
      color: $color-black--50;
    }

    &:hover {
      color: $color-primary;
      transform: translateY(-1px);
      text-decoration: underline;
    }
    &:active {
      color: $color-primary-dark;
      transform: translateY(0);
      text-decoration: none;
    }
  }
}