.containerHalf {
  // margin: $verticalSpacing--medium 0;
  margin-bottom: $sectionSpacerVertical;
  padding: 0 $pageTextPadding;
  // @include sidePadElement;

  // @include mediumLayoutPadding;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;

  @media screen and (max-width: $bp-smaller) {
    flex-direction: column-reverse;
    margin: 0;
  }

  &__paragraphs p {
    margin-bottom: $verticalSpacing--small;
  }

  & img {
    width: 100%;
    max-width: 32vw;
    height: auto;
    border-radius: $borderRadius;
  }

  & a.continue {
    transform: translateY(0);
    float: right;
    background: none;
    border: none;
    font-size: $p-fontSize;

    &:hover {
      transform: translateY(-2px);
      color: $color-button-primary--hover;
      border-bottom: 1px solid $color-primary--40;
    }

    &:active {
      transform: translateY(0);
    }
  }

  .testimonialQuote__profileImg {
    $imgSize: 8rem;
    margin-bottom: $imgSize*0.16;
    height: $imgSize;
    width: $imgSize;

    border-radius: 100rem;
  }

  

  & svg {
    align-items: center;
    font-size: 12vw;
    color: $color-primary-dark;
  }

  &__sideLeft {
    // background-color: green;
    width: 50%;
    margin-bottom: auto;

    @media screen and (max-width: $bp-smaller) {
      width: 100%;
    }
  }

  &__sideRight {
    // background-color: green;
    width: 50%;

    display: flex;
    justify-content: center;

    @media screen and (max-width: $bp-smaller) {
      width: 100%;
    }
  }
}

//------------------------------------

/* THIRDS */

.containerThird {
  margin-bottom: $sectionSpacerVertical;
  // margin-bottom: $verticalSpacing--large;
  padding: 0 $pageTextPadding;
  // @include sidePadElement;
  // @include mediumLayoutPadding;

  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: $bp-small) {
    margin: 0;
    padding: 0;
    
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  & a.continue {
    transform: translateY(0);
    float: right;
    background: none;
    border: none;
    font-size: $p-fontSize;
    
   

    &:hover {
      transform: translateY(-2px);
      color: $color-button-primary--hover;
      border-bottom: 1px solid $color-primary--40;
    }

    &:active {
      transform: translateY(0);
    }
  }

  & h3 {
    margin-bottom: $verticalSpacing--smaller;
  }

  & p {
    margin-bottom: $verticalSpacing--small;
  }

  & svg {
    font-size: 8vw;
    color: $color-primary-dark;
    background-color: $shadow-10;
    border-radius: 100px;
  }

  & img {
    border-radius: $borderRadius;
    width: auto;
    height: 24rem;
  }

  @media screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: $verticalSpacing--medium;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      order: 1;
    }

    & p {
      order: 2;
    }

    & a.continue {
      order: 4;
    }

  }

  & p {
    max-width: 92ch;
  }

  @media screen and (max-width: $bp-smaller) {
    min-width: none;
    width: 100%;
    max-width: none;
  }

  &__sideLeft {
    margin-right: 4rem;
    width: fit-content;
    max-width: 125ch;
  }

  &__sideRight {
    // min-width: 24rem;
    // width: 33vw;
    // max-width: 36rem;

    display: flex;
    justify-content: center;


    @media screen and (max-width: $bp-small) {
      object-fit: cover;
      // background-color: orangered;
      min-width: none;
      width: 100vw;
      max-width: none;

      height: 44vh;
      overflow: hidden;

      & img, svg {
        max-height: none;
        object-fit: cover;
        width: 90%;
        height: 32vh;
      }
    }
  }
}