.footer {
  margin: 0;
  margin-top: $verticalSpacing--larger;

  @include sidePadElement;

  background-color: $color-white;

  &Container {
    padding-bottom: 12rem;
  }

  /* TOP LAYER */
  &__layerTop {
    padding: 0 .8vw;
    padding-top: 0.8rem;
    height: 4.8rem;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    align-content: flex-end;
    gap: 1rem;

    &--logo {
      opacity: 0.8;
      font-size: 1.8rem;

      &:hover {
        color: $color-button-primary;
      }
    }
  }

  &__contactUs {
    opacity: 0.8;
    
    display: flex;
    align-items: center;
    gap: 0;

    & h4 {
      font-weight: 400;
    }

    & i {
      font-size: 1.2rem;
    }
  }

  /* MAIN FOOTER */
  &__main {
    padding: 2vw;
    height: 14rem;
    display: flex;
  }


  &__navigation {
    display: flex;
    align-items: flex-start;
    gap: 4vw;

    @media screen and (max-width: $bp-smaller) {
      margin-top: $verticalSpacing--medium;
    }
  }

  &__brandLogo {
    padding: 2vw;
    min-width: 16rem;
    width: 16vw;
    max-width: 24rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @media screen and (max-width: $bp-smaller) {
      HERE
    }
  }

  &__logoSubline {
    opacity: 0.6;
    font-size: 1.2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
  }

  &__listHeader h4 {
    margin-bottom: 0.4rem;
    opacity: 0.6;
  }

  &__link {
    font-size: $p-fontSize;
    font-weight: 500;

    &:hover {
      color: $color-button-primary;
    }

  }
}