form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: inherit;
  font-weight: 500;
  font-size: $p-fontSize;
  min-width: 32rem;
  width: 24vw;
  border-radius: $borderRadius;
  border: none;
  box-shadow: 0.3rem 0.3rem 1.2rem $shadow-30;
  padding: 0.8rem;
  height: 2.4rem;
  margin-bottom: 0.8rem;

  &:focus {
    border: none;
    border: solid 0.3rem $color-button-primary;
    height: 1.8rem;
  }
}

textarea {
  font-family: inherit;
  font-weight: 500;
  font-size: $p-fontSize;
  min-width: 32rem;
  width: 24vw;
  border-radius: $borderRadius;
    border: none;
    box-shadow: 0.3rem 0.3rem 1.2rem $shadow-30;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  &:focus {
    border: none;
    border: solid 0.3rem $color-button-primary;
    height: 98%;
  }

}