.contactBanner {
  margin-bottom: $sectionSpacerVertical;

  background-color: $color-primary;
  box-shadow: 0 1.2rem 0.8rem -1.2rem $shadow-20;
  border-bottom: solid $verticalSpacing--medium $color-primary-dark;
  
  color: $color-white;

  &Container {
    display: flex;
    justify-content: start;
    @include for-tablet-landscape-down {
      flex-direction: column-reverse;
    }
  }

  &__divider{
    background-color: $color-white--20;
    height: 1px;
    width: 100%;
    margin: $verticalSpacing--small 0;
  }

  /* LEFT */
  &__panelDetails {
    padding: $verticalSpacing--small $pageTextPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    margin-left: -8rem;
    margin-bottom: $verticalSpacing--medium;
  }

  &__contactDetails {
    margin-left: -2rem;
    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }

  &__contactItem {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    // gap: 1rem;

    & p {
      margin-bottom: 1rem;
      font-size: $p-fontSize;
      line-height: 1.4;
    }
    
    & .drop {
      transform: translateY(0.8rem);
    }

    position: relative;

    & svg,
    i {
      position: absolute;
      top: 0.2rem;
      left: -2.4rem;
      opacity: 0.6;
      font-size: $p-fontSize;
    }
  }

  /* RIGHT SIDE */
  &__panelMap {
    // height: 100%;
    // overflow: hidden;
    // flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

#mymap-container {
  $containerSize: 66vw;
  overflow: hidden;
  width: $containerSize;
  min-height: 40rem;
  height: $containerSize*0.38;
  
  @include for-tablet-landscape-down {
    width: 100vw;
  }
}