.navbar {

  $logoSize: 12vw;

  z-index: 9999;
  position: sticky;
  top: 0;
  background-color: $color-white;
  box-shadow: 0 2px 8px -4px $shadow-10;

  &Container {
    padding: 0 3.2rem;

    display: grid;
    grid-template-columns: $logoSize 1fr 12rem;
    grid-template-rows: $navbarHeight;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    'logo links button'
    'logo links button'
    'logo links button';

  }

  &__companyLogo {
    grid-area: 'logo';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    & img.figure {
      height: auto;
      min-width: 8rem;
      width: $logoSize;
      max-width: 12rem;
    }
  }
  
  &__navMenu {
    // grid-area: 'links';
    
    margin-right: 1.2rem;
    margin-left: auto;
    
    // flex-shrink: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  a.navbar__link {
    padding: 2px 8px;
    font-size: $p-fontSize;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-underline-offset: 0;

    &:hover {
      transform: translateY(-2px) scale(1.04);
      color: $color-button-primary;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  
  &__cta {
    grid-area: 'button';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    &::before {
      content: '';
      display: inline-block;

      transform: translateX(-2rem);
      height: 40%;
      width: 1px;

      background-color: $color-primary-dark--20;
    }
  }

  &__button {
    margin-right: -2rem;
    font-size: $p-fontSize;
    height: $navbarHeight*0.20;
    background-color: $color-button-primary;
    color: $color-white;

  }
}