.homeBanner {
  margin: 0;
  @include sidePadElement;
  background-color: red;
  min-height: 32rem;
  height: 44vh;
  overflow: hidden;

  &Container {
    // background: linear-gradient($color-black--10, $color-black--10), url(https://images.unsplash.com/photo-1542330952-bffc55e812b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background: linear-gradient($color-black--20, $color-black--20), url(https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    // background: linear-gradient($color-black--10, $color-black--10), url(https://images.unsplash.com/photo-1571844307880-751c6d86f3f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2017&q=80);
    // background: linear-gradient($color-black--10, $color-black--10), url(https://images.unsplash.com/photo-1590650423710-ffa6e7f63440?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: $color-white;

    padding-left: $pageTextPadding;
    padding-right: $pageTextPadding;
    @include mediumLayoutPadding;

    display: flex;

    @media screen and (max-width: $bp-smaller) {
      flex-direction: column;
    }

    align-items: center;
    justify-content: space-between;

  }

  &__copy {
    height: 100%;
    width: 33vw;
    max-width: 44rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2vw;

    @media screen and (max-width: $bp-smaller) {
      flex-direction: row;
      align-items: center;
      max-width: none;
      gap: 2rem;
      width: 88vw;
    }
  }

  &__title h1 {
    margin: 0;
    text-transform: capitalize;

    @media screen and (min-width: $bp-smaller) {
      @include underline($color: $color-white--90);
    }

    text-shadow: 4px 4px 8px $shadow-30;
  }

  &__subtitle {
    margin-left: 2px;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px $shadow-30;
  }

  &__modal {
    background: $color-white;
    box-shadow: 0.8rem 0 1px $color-primary-dark;
    color: $color-primary;
    max-width: 44rem;
    margin-bottom: 2vw;
    border-radius: 2rem;
    border-top-left-radius: $borderRadius;
    transform: translatex(1vw);
    align-self: flex-end;
    padding: 1.6rem;
    margin-right: 2rem;
    margin-left: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: $bp-smaller) {
      max-width: none;
      margin-right: 0.8rem;
      margin-left: 0.8rem;
    }
  }

  &__list {
    font-size: $h4-fontSize;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;

    & li {
      text-align: left;
      max-width: 14ch;
      line-height: 1.4;

      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: flex-start;

      & svg {
        color: $color-button-primary;
        font-size: 2.8rem;
        margin-left: 1.2rem;
      }
    }

  }

  &__CTA {
    background-color: $color-button-secondary;
    color: $color-white;
    padding: 1vw;
    margin: 0 auto;
    width: 88%;
    border-radius: $borderRadius;
    align-self: flex-start;
  }

  @media screen and (max-width: $bp-medium) {
    &__title h1 {
      font-size: 2.8rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__CTA {
      height: 2rem;
    }

    &__list {
      & li {
        align-items: center;
        text-align: center;

        & svg {
          font-size: 1.4rem;
          margin: 0;
        }
      }
    }
  }
}