.bannerNews {
  margin: 0;
  @include sidePadElement;
  background-color: $color-white;
  margin-bottom: $verticalSpacing--smaller;

  &Container {
    padding: $verticalSpacing--medium $pageTextPadding $verticalSpacing--small;
    @include mediumLayoutPadding;

  }

  &__header h3 {
    margin: 0;
    margin-right: 4rem;
    margin-bottom: $verticalSpacing--small;
    flex-shrink: 1;
  }

  &__contentList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $bp-smaller) {
      grid-template-columns: repeat(2, 1fr);
    }

    gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
  }

  &__itemLink {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 120ch;

    @media screen and (max-width: $bp-smaller) {
      max-width: none;
    }

    line-height: 1.6;

    & .text {
      margin-right: 0.8rem;

      @media screen and (max-width: $bp-smaller) {
        margin-right: 0.4rem;
      }

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;

      @media screen and (max-width: $bp-smaller) {
        -webkit-line-clamp: 2;
      }

      /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    font-weight: 400;

    transition: all 0.2s;

    &:hover {
      transform: scale(1.02) translate(-0.1rem, -0.1rem);
    }

    &:active {
      transform: scale(1.01) translate(-0.06rem, -0.06rem);
    }

    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: -0.4rem;
      height: 90%;
      width: 0.2rem;
      border-radius: 100px;
      background-color: $color-primary--40;
    }
  }

  position: relative;

  &__more {
    position: absolute;
    right: $pageTextPadding;
    bottom: -2rem;
    width: 10rem;
  }

  &__more {
    &:hover {
      border-bottom: solid 1px $color-primary-dark;
    }
  }
}